body {
	background: salmon; 
	opacity: 0;
}

.rs-panel {
	background: #fff;
}

.button-card-list {
    display: flex;
    justify-content: center;
}

.account-details {
	margin: 10px;
}
.details {
	height: 150px;
	border-radius: 16px;
	    max-width: 100%;
	    min-width: fit-content;
    width: 100%;
}

.details:hover {
	background: cyan;
}

.elements {
	display: flex;
}

.element {
	text-align: center;
    margin: 0 10px 0 30px;

}

.element p {
	color: #7a7a8c;
	font-size: 14px;
}

.fade-enter > .details {
  opacity: 0;
}
.fade-enter-active > .details {
  opacity: 1;
}
.fade-exit > .details {
  opacity: 1;
}
.fade-exit-active > .details {
  opacity: 0;
}
.fade-enter-active > .details,
.fade-exit-active > .details {
  transition: opacity .6s;
}
