body {
	background: salmon; 
}

.rs-panel {
	background: #fff;
}

.button-card-list {
    display: flex;
    justify-content: center;
}

.account-details {
	margin: 10px;
}
.details {
	height: 150px;
	border-radius: 16px;
}

.elements {
	display: flex;
}

.element {
	text-align: center;
    margin: 0 10px 0 30px;

}

.element p {
	color: #7a7a8c;
	font-size: 14px;
}
