.rs-navbar.rs-navbar-default { 
	color: #fff;
	background: lightskyblue;
}

.rs-navbar { 
    margin-top: -25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    text-align: center;
    transition: .5s;
    overflow: hidden;
    max-height: 150px;
    height: 90px;
}

.rs-nav-default .rs-nav-item:not(.rs-nav-item-active):not(.rs-nav-item-disabled) > .rs-nav-item-content:hover {
	background: lightsalmon;
	border-radius: 50%;
}

.rs-nav-default .rs-nav-item:not(.rs-nav-item-active):not(.rs-nav-item-disabled) > .rs-nav-item-content:focus {
	background: none;
}

.rs-navbar-body {
	justify-content: space-around;
	display: flex;
}
.rs-navbar:hover {
	transform: translateY(25px);
	color: #333;
	background: #fff;
}

.rs-navbar-nav .rs-nav-item:not(.rs-nav-item-disabled) > .rs-nav-item-content, .rs-navbar-nav .rs-dropdown > .rs-dropdown-toggle {
	border-radius: 50%;
}


.rs-navbar-nav .rs-nav-item > .rs-nav-item-content{
	font-size: 16px;
	height: 52px;
        width: 52px;
}
.rs-nav-item > .rs-nav-item-content > .rs-icon {
	margin-right: 0;
}

.rs-icon {
	font-size: large;
}
.rs-navbar-nav p {
	font-weight: bold;
}
.rs-nav-item {
	height: 52px;
	width: 52px;
}

.rs-navbar-header {
    width: 100px;
    justify-content: center;
    display: flex;
}

.navbar-brand {
    margin-top: 20px;
    padding: 9px;
    font-size: 25px;
    font-weight: bold;
}

.rs-navbar-header a:hover {
 	    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
	    text-shadow: none;
	    -webkit-text-fill-color: transparent;
	    -webkit-background-clip: text;
	    background-clip: text;
	    text-decoration: none;
}
